[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/Kevinwkz/dwm
[submodule ".config/st"]
	path = .config/st
	url = https://github.com/Kevinwkz/st
[submodule ".vim-runtime"]
	path = .vim-runtime
	url = https://github.com/Kevinwkz/vim-runtime.git
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://github.com/Kevinwkz/dmenu.git
