/*

# Rice

!.gitignore
!.gitmodules
!.autostart.sh
!.xinitrc
!.vimrc
!.assets/
!.vim/
!.vim-runtime/
!README.md

!.config/
.config/*
!.config/Xresources
!.config/xinitrc
!.config/autostart.sh
!.config/user-dirs.dirs
!.config/dwm/
.config/dwm/config.h
.config/dwm/patches/*
!.config/dmenu/
.config/dmenu/config.h
.config/dmenu/patches/*
!.config/fish/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/i3/
!.config/htop/
!.config/neofetch/
!.config/polybar/
!.config/st/
.config/st/config.h
.config/st/patches/*
