/*

!.gitignore
!.gitmodules
!.xinitrc
!.bashrc
!.vimrc
!.Xresources
!.gtkrc-2.0
!.assets/
!.vim/
!.vim_runtime/
!README.md

!.config/
.config/*
!.config/dwm/
.config/dwm/config.h
!.config/fish/
!.config/gtk-3.0/
!.config/i3/
!.config/htop/
!.config/neofetch/
!.config/polybar/
!.config/st/
.config/st/config.h
