# Ignore everything in this directory, with exceptions
/*

# Filter desktop files
!.gitignore
!.gitmodules
!README.md
!.autostart.sh
!.xinitrc
!.profile
!.xprofile
!.zprofile
!.assets/
!.readme_images/
!.vim/
.vim/*
!.vim/autoload/

# Filter Local files
!.local/
.local/*

!.local/bin/
!.local/share/
.local/share/*
!.local/share/applications/
!.local/share/wallpapers/
.local/share/wallpapers/*
!.local/share/wallpapers/Other/

# Filter configuration
!.config/
.config/*

!.config/Xresources
!.config/xinitrc
!.config/autostart.sh
!.config/user-dirs.dirs

!.config/vim/

!.config/dwm/
.config/dwm/config.h
.config/dwm/patches/*

!.config/dmenu/
.config/dmenu/config.h
.config/dmenu/patches/*

!.config/st/
.config/st/config.h
.config/st/patches/*

!.config/fish/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/i3/
!.config/htop/
!.config/neofetch/
!.config/polybar/

